<!DOCTYPE html>
<html>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>

<body>

<div ng-app="myApp" ng-controller="ctrl">

    <p>Id:<input type="checkbox" ng-model="user.location"></p>
    <p>Id:<input type="checkbox" ng-model="user.location"></p>
    <p>Id:<input type="checkbox" ng-model="user.location"></p>
    <p>Id:<input type="checkbox" ng-model="user.location"></p>
    <p>Id:<input type="checkbox" ng-model="user.location"></p>
    <ul>
        <li ng-repeat="x in record">
            {{ x.id }}
        </li>
    </ul>
</div>

<script>
    var app = angular.module('myApp', []);

    app.controller('ctrl', function ($scope, $http) {
        $http.get("https://data.cityofchicago.org/resource/alternative-fuel-locations.json")
                .then(function (response) {
                    $scope.record = response.data;});
    });
</script>

</body>
</html>